<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lyc.platform.sys.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="org.lyc.platform.sys.bean.User" >

    <id column="USER_ID" property="user_id" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="user_code" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="user_name" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="user_pwd" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="user_type" jdbcType="INTEGER" />
    <result column="VAIL_DATE" property="vail_date" jdbcType="TIMESTAMP" />
    <result column="IS_ACTIVE" property="is_active" jdbcType="INTEGER" />
    <result column="PHOTO_URL" property="photo_url" jdbcType="VARCHAR" />
    <result column="PASS_QUESTION" property="pass_question" jdbcType="VARCHAR" />
    <result column="PASS_ANSWER" property="pass_answer" jdbcType="VARCHAR" />
    <result column="IS_DEL" property="is_del" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="INFO" property="info" jdbcType="VARCHAR" />
    <result column="DOMAIN_ID" property="domain_id" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="dept_id" jdbcType="VARCHAR" />
    <result column="POS_ID" property="pos_id" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="create_date" jdbcType="TIMESTAMP" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="USER_PWD_MD5" property="user_pwd_md5" jdbcType="VARCHAR" />
    <result column="POS_LV" property="pos_lv" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    user_id, user_code, user_name, user_pwd, user_type, vail_date, is_active, photo_url,
    pass_question, pass_answer, is_del, status, info, domain_id, dept_id, pos_id,
    create_date, telephone, user_pwd_md5, pos_lv, salt
  </sql>

  <select id="queryByList" resultType="java.util.Map" parameterType="java.util.Map" >
    select t.*
    from (
    select a.user_id, a.user_code, a.user_name, a.user_pwd, a.user_type, a.vail_date, a.is_active, a.photo_url,
    a.pass_question, a.pass_answer, a.is_del, a.status, a.info, a.domain_id, a.dept_id, a.pos_id,
    a.create_date, a.telephone, a.user_pwd_md5, a.pos_lv,
    d.dept_name as dept_name,
    m.domain_name as domain_name,
    p.pos_name as pos_name,
    l.lv as pos_lv_cn
    from
    sys_user a
    left join sys_dept d on d.dept_id = a.dept_id
    left join sys_domain m on m.domain_id = a.domain_id
    left join sys_pos p on p.pos_id = a.pos_id
    left join sys_pos_level l on l.dbid = a.pos_lv
    ) t
    where 1=1
    <if test="user_type != null and user_type != ''">
      and t.USER_TYPE = #{user_type}
    </if>
    <if test="user_code != null and user_code != ''">
      and t.USER_CODE like '%${user_code}%'
    </if>
    <if test="status != null and status != ''">
      and t.status = #{status}
    </if>
    <if test="dept_id != null and dept_id != ''">
      and t.dept_id = #{dept_id}
    </if>
    <if test="user_name != null and user_name != ''">
      and t.USER_NAME like '%${user_name}%'
    </if>
    order by t.create_date desc
  </select>


  <select id="checklogin" parameterType="java.util.Map" resultType="user">
    select t.*,
    d.dept_name as dept_name,
    m.domain_name as domain_name,
    p.pos_name as pos_name,
    l.lv as pos_lv_cn
    from
    sys_user t
    left join sys_dept d on d.dept_id = t.dept_id
    left join sys_domain m on m.domain_id = t.domain_id
    left join sys_pos p on p.pos_id = t.pos_id
    left join sys_pos_level l on l.dbid = t.pos_lv
    where t.user_code=#{user_code} and t.user_pwd=#{user_pwd}
  </select>

  <select id="findUserByUserCode" parameterType="java.lang.String" resultType="user">
    select t.*,
    d.dept_name as dept_name,
    m.domain_name as domain_name,
    p.pos_name as pos_name,
    l.lv as pos_lv_cn
    from
    sys_user t
    left join sys_dept d on d.dept_id = t.dept_id
    left join sys_domain m on m.domain_id = t.domain_id
    left join sys_pos p on p.pos_id = t.pos_id
    left join sys_pos_level l on l.dbid = t.pos_lv
    where t.user_code=#{user_code}
  </select>

  <select id="checkloginmd5" parameterType="java.util.Map" resultType="user">
    select t.*,d.dept_name as dept_name
    from sys_user t
    left join sys_dept d on d.dept_id = t.dept_id
    where t.user_code=#{user_code} and t.user_pwd_md5=#{user_pwd_md5}
  </select>
</mapper>